[includeIf "gitdir:**"]
  path = .gitconfig-personal
[includeIf "gitdir:~/src/resy/"]
  path = .gitconfig-work
[user]
	name   = Salah Ahmed
[core]
	editor = vim
[alias]
    st     = status --short -uno
    ci     = commit
    ca     = commit --amend
    caa    = commit -a --amend
    ct     = commit --allow-empty -m 'trigger'
    br     = branch
    co     = checkout
    df     = diff
    lg     = log -p --pretty=fuller --abbrev-commit
    lgg    = log --pretty=fuller --abbrev-commit --stat
    up     = pull --rebase
