[user]
	name   = salah ahmed
	email  = salahs.email@pm.me
	signingkey = DCD5F589AA4977AC
[commit]
    gpgsign = true
[core]
	editor = vim
[alias]
    st     = status --short -uno
    ci     = commit
    ca     = commit --amend
    caa    = commit -a --amend
    ct     = commit --allow-empty -m 'trigger'
    br     = branch
    co     = checkout
    df     = diff
    lg     = log -p --pretty=fuller --abbrev-commit
    lgg    = log --pretty=fuller --abbrev-commit --stat
    up     = pull --rebase
    ls     = for-each-ref --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' refs/heads
    git    = !git

[includeIf "gitdir:~/src/resy/"]
  path = .gitconfig-work
[includeIf "gitdir:~/src/crosscompute/"]
  path = .gitconfig-crosscompute
[init]
	defaultBranch = main
